﻿@using PagedList.Mvc;
@model PagedList.IPagedList<popitka.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Target</th>
        <th>Result</th>
        <th>Count: @Model.TotalItemCount</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount



@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

